body{
  background-image: url("./bg.svg");
  margin: 0;
}

#head{
  background-image: url("./head.svg");
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.headIcon + .headBtn{
  display: flex;
}

.headIcon > *{
  min-height: 100px;
  min-width: 100px;
  background-color: #00000000;
  background-image: url("./headIcon.svg");
  border: none;
}

.headBtn > *{
  min-height: 100px;
  min-width: 100px;
  background-color: #00000000;
  border: none;
}

#homeBtn{
  background-image: url("./homeIcon.svg");
}

#cardBtn{
  background-image: url("./cardIcon.svg");
}

#contactBtn{
  background-image: url("./contactIcon.svg");
}